version: '3.8'

services:
  app:
    build: .
    ports:
      - "3026:3026"
    environment:
      DEPLOYCORS: ${DEPLOYCORS}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      HOSTTOKENUSUARIOS: ${HOSTTOKENUSUARIOS}
      DEPLOY: ${DEPLOY}
      DEPLOYA: ${DEPLOYA}
      DEPLOYB: ${DEPLOYB}
      APPWEBASESORIA: ${APPWEBASESORIA}
      APPWEBDEMANDA: ${APPWEBDEMANDA}
      HOSTGRPCCODIGOSPOSTALES: ${HOSTGRPCCODIGOSPOSTALES}
      HOSTGRPCASESORIAS: ${HOSTGRPCASESORIAS}
      IPS: ${IPS}
    depends_on:
      - db
    volumes:
      - .:/usr/src/app

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:3306"
    expose:
      - "3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./demandas_testing.sql:/docker-entrypoint-initdb.d/demandas_testing.sql

volumes:
  db_data: