version: '3.8'

services:
  app:
    image: node:latest
    ports:
      - "3026:3026"
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    networks:
      - app-network
    depends_on:
      - db4
    command: sh -c "rm -rf node_modules && npm install && node app.js"

  db4:
    image: mysql:8.0.36
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3310:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./demandas_testing.sql:/docker-entrypoint-initdb.d/demandas_testing.sql
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:



